body {
  background-color: #eeecda;
}

h1 {
  color: #0f3057;
}

h3 {
  color: #b83b5e;
}

p,
td,
li {
  color: #00587a;
  font-family: 'Sansita Swashed', cursive;
  font-weight: 500;
}

a {
  color: #6a2c70;
}

th,
td {
  border-bottom: 1px solid #ddd;
}
